image: "$CI_REGISTRY/$CI_REGISTRY_USER/isax-tools-integration-env:latest"

variables:
  GIT_SUBMODULE_STRATEGY: normal

before_script:
  - GRADLE_USER_HOME="$(pwd)/.gradle"
  - export GRADLE_USER_HOME

build:
  stage: build
  rules:
    - if: $CI_MERGE_REQUEST_IID
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  script: gradle --build-cache assemble
  cache:
    key: "$CI_COMMIT_REF_NAME"
    policy: push
    paths:
      - frontend
      - app/build
      - .gradle

test:
  stage: test
  rules:
    - if: $CI_MERGE_REQUEST_IID
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  script: gradle check
  cache:
    key: "$CI_COMMIT_REF_NAME"
    policy: pull
    paths:
      - frontend
      - app/build
      - .gradle

release:
  stage: deploy
  script:
    - mkdir treenail
    - cd treenail ; tar xf ../app/build/distributions/app.tar --strip-components=1
  cache:
    key: "$CI_COMMIT_REF_NAME"
    policy: pull
    paths:
      - frontend
      - app/build
      - .gradle
  artifacts:
    paths:
      - treenail/**
  rules:
    - if: $CI_COMMIT_TAG

clang-format-vs-prev-commit:
    stage: build
    script:
        # Taken from: https://github.com/llvm/circt/blob/e66d68089b46fea5d89c73fdbc15e8e48c63ffce/.github/workflows/buildAndTest.yml
        - |
          git checkout . # Try to prevent false positive LFS changes
          DIFF_COMMIT_SHA=$(git rev-parse HEAD^)
          git clang-format $DIFF_COMMIT_SHA
          git diff --ignore-submodules > clang-format.patch
          if [ -s clang-format.patch ]; then
            echo "Clang-format found formatting problems in the following files. See diff in the clang-format.patch artifact."
            git diff --ignore-submodules --name-only
            git checkout .
            exit 1
          fi
          echo "Clang-format found no formatting problems"
          exit 0
    artifacts:
        when: on_failure
        paths:
            - clang-format.patch

clang-format-vs-target:
    stage: build
    variables:
        GIT_DEPTH: 0 # Fetch all available branches
    rules:
        - if: $CI_MERGE_REQUEST_IID
    script:
        # Taken from: https://github.com/llvm/circt/blob/e66d68089b46fea5d89c73fdbc15e8e48c63ffce/.github/workflows/buildAndTest.yml
        - |
          git checkout . # Try to prevent false positive LFS changes
          DIFF_COMMIT_SHA=$(git rev-parse origin/$CI_MERGE_REQUEST_TARGET_BRANCH_NAME)
          git clang-format $DIFF_COMMIT_SHA
          git diff --ignore-submodules > clang-format.patch
          if [ -s clang-format.patch ]; then
            echo "Clang-format found formatting problems in the following files. See diff in the clang-format.patch artifact."
            git diff --ignore-submodules --name-only
            git checkout .
            exit 1
          fi
          echo "Clang-format found no formatting problems"
          exit 0
    artifacts:
        when: on_failure
        paths:
            - clang-format.patch
